= link_to "RealEstatePortal", filters_path, :class => "brand"
.nav-collapse.collapse#main-menu
    %ul.nav#main-menu-left
        %li=link_to "Apartment", apartments_path
        %li= link_to "House", houses_path

