<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%= link_to "RealEstatePortal", filters_path, :class => "brand"%>
<div class="nav-collapse collapse" id="main-menu">
  <ul class="nav" id="main-menu-left">
    <li><%= link_to "Apartment", apartments_path %></li>
    <li><%= link_to "House", houses_path %></li>
  </ul>
</div>